S3method(print,LL3_spei)

export(LL3)
export(LL3safe)
export(dLL3)
export(pLL3)
export(qLL3)
export(rLL3)
export(LL3_mean)
export(LL3_variance)
export(LL3_median)
export(LL3_to_FAdist)
export(FAdist_to_LL3)

export(LL3_support_lower)
export(LL3_default_control)
export(fit_LL3_gamlss)
export(fit_LL3_stationary)
export(fit_LL3_gamlss_stationary)
export(fit_LL3safe_gamlss_stationary)
export(fit_LL3_candidate_models)
export(fit_LL3_direct_linear)
export(compare_LL3_gamlss_direct)
export(LL3_parametric_bootstrap)
export(LL3_moving_block_bootstrap)

export(extract_LL3_parameters)
export(LL3_fit_converged)
export(check_LL3_fit)
export(LL3_pit)
export(LL3_index)
export(LL3_residual_diagnostics)
export(LL3_boundary_diagnostic)
export(LL3_assert_inference_ready)
export(LL3_model_table)
export(plot_LL3_diagnostics)

export(LL3_accumulate)
export(fit_LL3_spei)
